.container(ng-controller="UsersCtrl")
    .row
        .span12
            h3 {{ pageTitle }}
            h3 {{ myTest }}
    .row
        .span12
            table.table.table-bordered
                thead
                    tr
                        th User ID
                        th Name
                        th Size
                tbody
                    tr(ng-repeat="(uIndex, user) in userList")
                        td {{ uIndex + 1 }}
                        td {{ user.name }}
                        td {{ user.size | size }}


