extends layout

block body
    .navbar
        .navbar-inner
            .container
                a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a.brand(href="#") Express Angular
                .nav-collapse.collapse
                    ul.nav
                        li.active
                            a(href="#/") Home
                        li
                            a(href="#/bootstrap") Bootstrap



    div(ng-view)








