html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    script(type='text/javascript',src='/lib/angular/angular.js').
    script(type='text/javascript',src='/lib/jquery/jquery.js').
    script(type='text/javascript',src='/lib/bootstrap/bootstrap.js').
    script(type='text/javascript',src='/js/app.js').
    script(type='text/javascript',src='/js/controllers.js').
    link(rel='stylesheet', href='/css/app.css').
    link(rel='stylesheet', href='/css/bootstrap.min.css').
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css').

  body
    block body

